*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
   
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;

}
input{
    padding: 10px;
    margin: 10px 0;
    border: unset;
    border-bottom: 2px solid #ffffff;
    outline: none;
}
button{
    padding: 10px;
    cursor: pointer;
    border: unset;
}
a{
    color: blueviolet;
}
p{
    margin: 10px 0;
}